.background {
    background-color: black;
}
.text {
    color: white;
}
.centered {
    text-align: center;
}
.picture {
    background-color: white;
    margin-top: 1em;
}
#main-image {
    background: url(../images/cover-image.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-left: 10rem;
    padding: 20rem;
}
.box {
    background: #0f2f4e; 
    padding: 1rem; 
    border: 1px solid lightgray; 
    color: white;
    position: absolute;
    left: 0;
}
.menu {
    background: #0f2f4e; 
    padding: 1rem;
    border: 1px solid white; 
    text-align: center;
}
.menu-options {
    color: white !important;
}
